<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>To Do List</title>
</head>
<body>
    <div class="container vh-100">
        <div class="row h-100 justify-content-center">
            <div class="col col-md-3 d-flex align-items-center justify-content-center">
                <div id="app">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">To do List</h5>
                            <div class="card-text">
                                <ul class="list-group my-4">
                                    <li v-for="(toDo, i) in toDoList" class="list-group-item d-flex justify-content-between align-items-center" >
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." v-model="toDo.done">
                                        <span class="flex-grow-1" :class="{'text-decoration-line-through': toDo.done}">{{ toDo.text }}</span>
                                        <span class="badge bg-danger rounded-pill" @click="deleteToDo(i)">x</span>
                                    </li>
                                </ul>
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" @click="addToDo()">Add</button>
                                    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" v-model="currentText">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>